---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Luis Miranda" description="About Luis Miranda life and career" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: contain;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Me</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="/assets/profile-pic.jpg"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					Hello! My complete name is Luis Benjamin Miranda Tollinchi. I was born and raised in Puert Rico.
					I have always been fascinated with technology and building things. In 2017 I made the decision 
					to persue a  degree in Computer Science in Miami. I enrolled at Florida International University.
				</p>
				<p>
					My first professional job came in my time with Revature. I underwent an intense 10 week traning going
					over all the full stack of a Software Engineer. I was placed in a Java batch, which the main frameworks
					were Spring and Angular. After the traning was over, I luckily got picked up pretty quick by one of their
					client to be a contractor, Cognizant. 
				</p>
				<p>
					Now you can find me hanging out at PilotoMail, a mail management software applicationx. 
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
